body {
  background: orange;
}


  Boa Tarde meu nome é Felipe do setor de análise da 123Milhas, 
  para dar continuidade ao seu pedido .N3W-6ZK-2-23	preciso de confirmar alguns dados relacionados ao cadastro e pagante, este número pertence a Sr(a)KEILA GONCALVES MORAES
  
  -Precisamos que retorne o contato por este canal em um prazo de até 5 minutos para  
  o caso de não haver contato dentro do prazo, o pedido poderá ser cancelado e a pré-autorização de limite será liberada no cartão de crédito utilizado na solicitação imediatamente.


#RESPOSTA 
{

Preciso que atenda a ligação para confirmar alguns dados referente ao cadastro da sua compra, caso tenha algum bloqueio para números desconhecidos desative temporariamente 




}
--------- 05599723500 azure cpf

acabei de mandar um e-mail para (juanchoseba92@gmail.com	)  
solicitando a confirmação do seu cadastro, preciso que valide clicando no link que esta na mensagem do e-mail
-----------

#EMAIL_DE_POSSIBILIDADE_DE_CANCELAMENTO  

  INFORME - Possibilidade de rejeição de pedido por falta de contato | Pedido:.1BG-KQL-3-23
  Boa Tarde, Prezado Sr(a)ALOMIR MORAES JUNIOR

  Seu pedido .1BG-KQL-3-23		
  encontra-se em análise e,  
  por proteção e segurança, estamos tentando contato para confirmação 
  dos dados através dos números cadastrados,(21) 999373916

  Precisa-se que retorne o contato por este e-mail ou pelo  
  WhatsApp através do número (31) 98319-2060
  em um prazo de até 5 minutos, a contar do envio deste e-mail, 
  para que seja possível dar continuidade ao processo de emissão do seu bilhete. Para o caso de não haver contato dentro do prazo, o pedido poderá ser cancelado e a pré-autorização de limite será liberada no cartão de crédito utilizado na solicitação imediatamente.

  Atenciosamente,   
  Equipe de Análise 123milhas 
  (Ao chamar via WhatsApp se identifique informando o seu NOME e PEDIDO)

------RETORTO DE APROVAÇÃO SE CASO APROVAR SEM CONTATO------



“Sr.(a) Maria do Carmo Reis de Paiva	outra maneira de aprovação do pedido .QB1-081-L-22	sem a necessidade do contato e ele está em processo de emissão. Gentileza aguardar o retorno da emissão através deste e-mail cadastrado."mdcrpaiva@yahoo.com.br	Realize a Validação do seu e-mail para evitar dificuldades em receber seu Bilhete

Atenciosamente,   
Equipe de Análise 123Milhas 


Este atendimento está finalizado. Portanto, para quaisquer esclarecimentos que se fizerem necessários sobre a compra em análise estaremos à disposição somente pelos nossos canais de atendimento:

Central de ajuda 31 99397-0210 (Somente WhatsApp)
- via e-mail: contato@123milhas.com.br
Site: https://123milhas.com/central-de-ajuda/

Atenciosamente,   
Equipe de Análise 123Milhas 


#dados_positovos 

- sem alertas 
- e-mail Bom 
- E-mail autenticado
- Telefone confirmado 
- Localização confirmada 
- Ip OK 
- trecho condiz 
- pax com CPF 
- vinculo por endereço 
- vinculo Bureaux 
- vinculo por endereço 
- vinculo Rede social 
- clearsale	 
- Contato em numero não confirmado do TT 
- Contato em numero confirmado do TT 
54+



#SOLICITAÇÃO DE DOCUMENTOS 

INFORME - Solicitação de documentação do titular do cartão de crédito | Pedido: .1640994
Prezado(a) Sr(a)PATRICIA DUARTE CANCADO
Encontrou-se algumas incoerências em relação aos dados fornecidos em seu cadastro e, por proteção e segurança, precisa-se do envio de alguns documentos para que se possa comprovar a titularidade do cartão de crédito com final .5946
analise@123milhas.com.br ou pelo WhatsApp através deste número em um prazo de até 15 minutos, a contar do envio deste contato, através de fotos seguindo os seguintes padrões:
- Documento de identificação com foto, nome completo e CPF na palma da mão (Frente e verso). Exemplo: CNH, CTPS ou RG;
- Selfie segurando o documento de identificação próximo ao rosto, junto com uma folha escrita a palavra chave "ECHO";
- Cartão de crédito na palma da mão (Caso tenha usado cartão virtual enviar print junto aos demais documentos)
- Cópia de fatura recente do cartão (física ou print do aplicativo) onde contenha seu nome e os últimos 4 dígitos do cartão.
- Folha em branco com três assinaturas com o mesmo padrão verificado em documento de identificação enviado.
OBS: Caso o cartão utilizado na compra conste a numeração no verso, gentileza enviar frente e verso com o código de segurança tampado.
Após receber e conferir visando a assertividade das informações, dar-se-á continuidade ao processo de emissão do seu bilhete. Para o caso de não haver o envio dentro do prazo, o pedido será cancelado e a pré-autorização de limite será liberada no cartão de crédito utilizado na solicitação imediatamente.

Central de ajuda:
- via e-mail: contato@123milhas.com.br
Site: https://123milhas.com/central-de-ajuda/

Atenciosamente,   
Equipe de Análise 123Milhas 
Aguardo breve retorno.


#SOLICITAÇÃO DE DOCUMENTOS PARCIAL

INFORME - Solicitação de documentação do titular do cartão de crédito | Pedido:.GWG-O2K-K-23		

Prezado(a) Sr(a)EDSANDRO SILVA BOMFIM
Encontrou-se algumas incoerências em relação aos dados fornecidos em seu cadastro e, por proteção e segurança, precisa-se do envio de alguns documentos para que se possa comprovar a titularidade do cartão de crédito com final .6865
Os documentos devem ser enviados pelo e-mail analise@123milhas.com.br ou pelo WhatsApp através deste número em um prazo de até 10 minutos, a contar do envio deste contato, através de fotos seguindo os seguintes padrões:

- Documento de identificação com foto, nome completo e CPF na palma da mão (Frente e verso). Exemplo: CNH, CTPS ou RG;
- Selfie segurando o documento de identificação próximo ao rosto,
- Cartão de crédito na palma da mão 
(Caso tenha usado cartão virtual enviar print junto aos demais documentos)
Para o caso de não haver o envio dentro do prazo, o pedido será cancelado e a pré-autorização de limite será liberada no cartão de crédito utilizado na solicitação imediatamente.


- via e-mail: contato@123milhas.com.br
Site: https://123milhas.com/central-de-ajuda/

Atenciosamente,   
Equipe de Análise 123Milhas 
Aguardo breve retorno.

